SSO_SERVER__ISSUER=https://sso.example.com
SSO_SERVER__BASE_URL=https://sso.example.com
SSO_POSTGRES__DSN=host=pg1,pg2,pg3 port=5432 user=sso password=REPLACE_ME dbname=sso sslmode=verify-full target_session_attrs=read-write
SSO_REDIS__PASSWORD=REPLACE_ME
